server {
  server_name _;

  listen              443 ssl;  
  ssl_certificate     {{ certificatePath }}/{{ certificateName }};
  ssl_certificate_key {{ certificateKeyPath }}/{{ certificateKeyName }};

  location ~* \/(images|styles)\/* {
    root   {{ destinationPath }};
  }
  
  location / {    
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;    
    proxy_redirect off;
    add_header          Request-Time $request_time;    
    proxy_pass          http://{{ web_server_ip_address }}:8080/companyNews/;
    access_log          /var/log/nginx/proxy-access.log;
  }

  # redirect error pages 
  error_page  404              /404.html;
  error_page  500 502 503 504  /50x.html;
  
  location = /50x.html {
    root   /usr/share/nginx/html;
  }

}
